



.backgroundImage{
    background-image: url('photos/blackandwhite.jpg');
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    max-width: 100%;
}

.container {
    max-width: fit-content;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding:20px;
    margin-left: 50px;
    margin-right: 50px;
}