



.backgroundImage{
    background-image: url('photos/blackandwhite.jpg');
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    max-width: 100%;
}

.tableContainer {
    max-width: fit-content;
    border-radius: 5px;
    background-color: whitesmoke;
    padding:10px;
    margin-left: 40px;
    margin-right: 40px;
}

.container {
    max-width: fit-content;
    border-radius: 5px;
    background-color: ivory;
    padding:20px;
    margin-left: 50px;
    margin-right: 50px;
}